<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./resource/style.css" media="screen" />
    <script src="http://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyD8bQzMru84BpSm9d9pl6bNWn8U10Ru9U0&sensor=false"></script>
    <link rel="stylesheet" href="./resource/login.css" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>DRIVER</title>
  </head>
  <body >
    <div id="app">
        <div  style="height:50px">	<span style="float:right"><button v-on:click='logout()' id='btn-logout'>Sign out</button></span>
        </div>
      <div  id="div_google_map">
        <div class="wraper">
          <div style="height:10vh">
           <button style="display: inline-block" v-bind:class="[statusType.str]">{{statusType.lb}}</button>  
           <label class="switch">
            <input type="checkbox" @click="onClickChangStatus()" v-model="status_checked" id="checkbox_stt">
            <span class="slider round"></span>
          </label>     
        </div>
          <div class="google-map-area div-erea-parent">
            <div id="googleMap" style="width:100%; height:50vh;"></div>
            <div v-if='found_user' class="floating-panel">
              <span>Find a customer request !</span>
              <input id="btn_accept" type="button" @click="DeclineUser()" value="Accept">
              <input id="btn_decline" type="button" @click="AcceptUser()" value="Decline">

          </div>
          </div>
          <div></div>
        </div>
      </div>
      
    </div>
    <script src="./resource/socket.io.js"></script>
    <script src="./resource/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
